<!-- Exact upstream files and licenses are recorded in assets/vendor/manifest.json. -->
<script defer src="/assets/vendor/marked-18.0.7/marked.umd.js"
  integrity="sha384-7njNzKcJUBdezPGfqUrIFizi2QkXJH0M6wF3o1h9GE/nce6X4YdecMwh31B19yTi"></script>
<script defer src="/assets/vendor/dompurify-3.4.15/purify.min.js"
  integrity="sha384-uUMu9JDY09vBzRf9SPcK2VgUj+W/70J6Soc+Dded5P474ElQ63iv9j5N3DE7Kp3N"></script>
<script defer src="/assets/vendor/fuse.js-6.6.2/fuse.min.js"
  integrity="sha384-zPE55eyESN+FxCWGEnlNxGyAPJud6IZ6TtJmXb56OFRGhxZPN4akj9rjA3gw5Qqa"></script>
